{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>Blog AMF</title>
</head>
<body>

<div class="post-header">
    <h1><a href="/">Blog AMF</a></h1>
</div>


<div class="content">
<div class="post">
    <div class="date">{{ post.data_publicacao }}</div>
    <h1><a href="">{{ post.titulo }}</a></h1>
    <p>{{ post.texto|linebreaksbr }}</p>
</div>
</div>


<div class="content">
    <div>
        <h1><a>Comentários</a></h1>

        {% for comentario in comentarios %}
            <p>{{ comentario.autor.username }}</p>
            <p>{{ comentario.texto|linebreaksbr }}</p>
            <p>{{ comentario.data }}</p>
        {% endfor %}

    </div>
</div>


</body>
</html>