.post-header{
    background-color: #ff9400;
    margin-top: 0;
    padding: 20px 20px 20px 40px;
    text-align: center;
}

.post-header h1 a, .post-header h1 a:visited, .post-header h1 a a:active{
    color: #ffffff;
    font-size: 36pt;
    font-family: 'Lobster', cursive;
}